@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 body{
            background-color: rgb(230, 230, 230);
            margin: 0%;
            padding: 0%;
        }
        #main-container{
            position: static;
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: space-between;
            background-color: #fd4100;
            white-space: nowrap;
            overflow: hidden;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
        .barra{
            list-style: none;
            display: flex;
            gap: 100px;
            animation: scroll 25s linear infinite;
            width: max-content;
            font-weight: bold;
            padding-left: 100%;
        }

        @keyframes scroll{
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }
        #imagen{
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #060C3D;
            margin: auto;
        }
        .fondo img{
            width: 420px;
            justify-content: center;
            align-items: center;
            height: auto
        }
        #menu{
            background-color: #ffc55b;
            padding: 10px;
            text-align: center;
            position: sticky;
            overflow: hidden;
            z-index: 1000;
            font-size: 20px;
            top: 0;
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-style: normal;
            display: flex;
            justify-content: center;
            gap: 200px;
        }
        #menu a{
            text-decoration: none;
            color: black;
        }
        h2{
            background-color: #2d4e81;
            color: #ffffff;
            padding: 20px;
            margin-top: 0%;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
        .quien{
            font-size: 30px;
            text-align: center;
            align-items: center;

        }
        .contenido{
            display: flex;
            align-items: center;
            gap: 0px;
            flex-direction: row-reverse;
        }
        .contenido p{
            font-size: 20px;
            margin-left: 700px;
            padding-right: 40px;
            max-width: 60%;
            text-align: justify;
            margin-left: 40px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
        .contenido img{
            display: block;
            width: 400px;
            height: auto;
            max-width: 60%;
            box-shadow: -19px -5px 28px 3px rgba(0,0,0,0.72);
            -webkit-box-shadow: -19px -5px 28px 3px rgba(0,0,0,0.72);
            -moz-box-shadow: -19px -5px 28px 3px rgba(0,0,0,0.72);
        }
        .linea{
            width: 100%;
            height: 2px;
            background-color: black;
            margin: 20px 0;
        }
        .extra{
            text-align: center;
            padding: 0px;
            margin-top: 0;
        }
        .extra h2{
            background-color: transparent;
            color: black;
            font-size: 40px;
            margin: 0;
        }
        .contenido2{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: -10;
        }
        .contenido2 img{
            width: 250px;
            margin-right: 60px;
            display: block;
            border: 2px solid rgb(0, 0, 0);
            height: auto;
            background-color: #ffffff;
        }
        .contenido2 p{
            font-size: 20px;
            text-align: justify;
            padding: 3px 60px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0
        }
        .Red{
            text-align: center;
            margin-top: 15px;
        }
        .Red h2{
            border-radius: 81px 0px 81px 0px;
            -webkit-border-radius: 81px 0px 81px 0px;
            -moz-border-radius: 81px 0px 81px 0px;
            padding: 15px;
            margin: 10px;
            font-size: 30px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
        .informacion{
            font-size: 20px;
            text-align: justify;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        .informacion p{
            margin: 20px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
        .informacion img{
            display: block;
            margin: auto;
            width: 1000px;
            height: auto;
        }
        .redessociales{
            display: flex;
            gap: 200px;
            justify-content: center;
            padding: 40px;
        }
        .item{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .item img{
            width: 100px;
            height: auto;
        }
        footer{
            background-color: #060C3D;
            display: flex;
            padding: 0px;
        }
        .fila{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 250px;
        }
        .fila img{
            width: 500px;
            align-items: center;
            padding: 80px;
        }
        .centro{
            margin: 10px;
            color: #ffffff;
            font-size: 50px;
        }
        .fila p{
            margin: 0;
            color: #ffffff;
            text-align: left;
            padding: 5px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }